.modalFullRevenue {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #317353;
    background-color: rgba(0,0,0,0.5);
}

.fullRevenue {
    background-color: white;
    min-width: 500px;
    padding: 10px;
    border-radius: 10px;
}